<div class='card' *ngIf='phenotype'>
    <div class='card-header'>
        <h2>{{pageTitle + ': ' + phenotype.name}}</h2>
    </div>
    <div class='card-body'>
        <table class='table'>
            <tbody>
                <tr>
                    <td>
                        <app-stats [phenotype]='phenotype'></app-stats>
                    </td>
                    <td>
                        <app-pictures [imageLocation]='phenotype.imageUrl1'></app-pictures>
                    </td>
                </tr>
                <tr>
                    <td>
                        <app-text [phenotype]='phenotype'></app-text>
                    </td>
                    <td>
                        <app-pictures [imageLocation]='phenotype.imageUrl2'></app-pictures>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='card-footer'>
        <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
            <i class='fa fa-chevron-left'></i> Back
        </button>
    </div>
</div>